/* 
  colour palette:
    white: #fcfcfc
    black: #202020
    blue: #007bff
*/

/* general styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #202020;
}

body {
  background-color: #fcfcfc;
}

button {
  cursor: pointer;
}

.titleFont {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  animation: spin 1.5s linear infinite;
}

/* monitor break point */

/* welcome - page 1 */
.welcomeOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcomeInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.welcomeTitle {
  font-size: 5em;
  margin-bottom: 30px;
}

.welcomeSubHeading {
  font-size: 2em;
  margin-bottom: 30px;
}

.welcomeButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  width: 50%;
  height: 50px;
  margin-top: 30px;
  font-size: 1.3em;
  font-weight: 400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transition: transform 300ms, box-shadow 300ms;
}

.welcomeButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* login - page 2 */
.loginOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loginTitle {
  font-size: 5em;
  margin-bottom: 30px;
}

.loginSubHeading {
  font-size: 2em;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loginFormInputContainer {
  width: 90%;
  position: relative;
  margin: 20px 0;
}

.loginFormInput {
  width: 100%;
  border: none;
  border-bottom: #202020 1px solid;
  margin: 10px 0;
  padding-bottom: 2px;
  font-size: 1em;
}

.loginFormInput:focus {
  outline: none;
}

.loginPasswordEye {
  position: absolute;
  right: 7px;
  top: 10px;
  transition: transform 300ms;
  cursor: pointer;
  user-select: none;
}

.loginPasswordEye:hover {
  transform: scale(1.1);
}

.loginButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  width: 50%;
  height: 50px;
  font-size: 1.3em;
  font-weight: 400;
  margin: 20px 0 25px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
}

.loginButtonAbled:hover {
  transform: scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loginButtonDisabled {
  filter: grayscale(60%) blur(1.5px);
  cursor: auto;
  transform: scale(0.95);
}

.loginDivider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.loginDividerLine {
  height: 0.5px;
  width: 100%;
  background-color: #202020;
}

.loginDividerText {
  font-size: 1em;
  margin: 0 10px;
}

.loginGoogleButton {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}

.loginRedirectText {
  font-size: 1em;
  margin-top: 25px;
}

/* sign up - page 3 */
.signUpOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signUpInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.signUpTitle {
  font-size: 5em;
  margin-bottom: 30px;
}

.signUpSubHeading {
  font-size: 2em;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signUpFormInputContainer {
  width: 90%;
  position: relative;
  margin: 5px 0;
}

.signUpFormInput {
  width: 100%;
  border: none;
  border-bottom: #202020 1px solid;
  margin: 10px 0;
  padding-bottom: 2px;
  font-size: 1em;
}

.signUpFormInput:focus {
  outline: none;
}

.signUpButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  width: 50%;
  height: 50px;
  font-size: 1.3em;
  font-weight: 400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
  margin: 20px 0;
}

.signUpButtonAbled:hover {
  transform: scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.signUpButtonDisabled {
  filter: grayscale(60%) blur(1.5px);
  cursor: auto;
  transform: scale(0.95);
}

.signUpSpinner {
  font-size: 1.3em;
}

.signUpPasswordReqsContainer {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  /* border: solid black 1px; */
  transition: max-height 300ms, opacity 300ms;
}

.signUpPasswordReqsContainerFocus {
  max-height: 200px;
  opacity: 100;
}

.signUpReqsHeading {
  font-size: 1em;
  text-align: center;
  margin-bottom: 5px;
}

.signUpReqsList {
  list-style: none;
}

.passwordReq {
  font-size: 0.85em;
  transition: color 200ms;
}

.validReq {
  color: #23DC3D;
}

.invalidReq {
  color: #ff0033;
}

.nameReqContainer {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: max-height 300ms, opacity 300ms;
}

.nameReqContainerInvalid {
  max-height: 200px;
  opacity: 100;
}

.nameReq {
  font-size: 0.85em;
  text-align: center;
}

/* verify - page 4 */
.verifyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.verifyTitle {
  font-size: 5em;
  margin-bottom: 50px;
}

.verifySubHeading {
  font-size: 2em;
  margin-bottom: 50px;
}

.verifyText {
  font-size: 1.25em;
}

/* navigation - component 1 */
.navOuterContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navInnerContainer {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  font-size: 3em;
  color: #fcfcfc;
  cursor: pointer;
}

.navOptionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  background-color: #007bff;
  color: #fcfcfc;
  font-size: 1em;
  font-weight: 400;
  text-wrap: nowrap;
  transition: background-color 200ms, color 200ms;
}

.navButton:hover {
  background-color: #fcfcfc;
  color: #007bff;
}

.navButton * {
  font-size: 1.3em;
  margin-right: 10px;
  transition: color 300ms;
  * {
    color: #fcfcfc;
  }
}

.navButton:hover * {
  * {
    color: #007bff;
  }
}

/* profile - page 5 */
.profileOuterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profileInnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 40px;
  border-radius: 20px;
  width: 600px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profileHeader {
  width: 600px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileHeader * {
  font-size: 3em;
  * {
    color: #fcfcfc;
  }
}

.profileBody {
  margin-top: 80px;
}

.profileHeading {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.profileSubHeading {
  font-size: 1em;
  text-align: center;
  margin-bottom: 50px;
}

.profileUserInfoContainer {
  width: 60%;
  display: flex;
  overflow: visible;
  margin: 20px 0;
}

.profileUserInfoHeading {
  min-width: 100px;
  width: 100px;
  font-weight: 600;
}

.profileButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 50px;
}

.profileButton {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  border: none;
  background-color: #007bff;
  transition: transform 300ms;
}

.profileButton:hover {
  transform: scale(1.1);
}

.profileButtonIcon {
  font-size: 1.5em;
  * {
    color: #fcfcfc;
  }
}

.profileButtonSignOut {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  border: solid #007bff 2px;
  background-color: #fcfcfc;
  transition: transform 300ms;
}

.profileButtonSignOut:hover {
  transform: scale(1.1);
}

.profileButtonIconSignOut {
  font-size: 1.5em;
  * {
    color: #007bff;
  }
}

.profileButtonDelete {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  border: none;
  background-color: #ff0033;
  transition: transform 300ms;
}

.profileButtonDelete:hover {
  transform: scale(1.1);
}

.profileButtonIconDelete {
  font-size: 1.5em;
  * {
    color: #fcfcfc;
  }
}

.profileButtonMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 30px;
}

.profileButtonMessage {
  text-align: center;
}

.myEvents {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileEventCard {
  width: 50%;
  overflow: hidden;
  margin: 30px 0;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profileEventImg {
  filter: blur(4px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profileEventDetails {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  background-color: rgba(32, 32, 32, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileEventDetail {
  color: #fcfcfc;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.eventAltText {
  margin-top: 20px;
}

.profileCancelButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.3em;
  font-weight: 400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
  padding: 10px;
  margin-top: 20px;
}

.profileEditButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.3em;
  font-weight: 400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
  width: 50px;
  height: 50px;
  margin: 20px 20px 0 0;
}

.profileEditButton * {
  * {
    color: #fcfcfc;
  }
}

.profileDeleteButton {
  background-color: #ff0033;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.3em;
  font-weight: 400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px;
}

.profileDeleteButton * {
  * {
    color: #fcfcfc;
  }
}

.profileCancelButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.profileDeleteButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.profileEditButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.profileNotUserButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* home - page 6 */
.homeOuterContainer {
  width: 100%;
}

.homeInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeWelcome {
  margin: 50px 0 10px 0;
}

.homeWelcomeMessage {
  text-align: center;
  font-size: 1.3em;

}

.homeTitle {
  text-align: center;
  font-size: 7em;
}

.homeEventControls {
  position: sticky;
  top: 100px;
  display: flex;
  justify-content: space-evenly;
  background: #fcfcfc;
  /* border-bottom: solid 1px #202020; */
  width: 60%;
  padding: 20px 0;
  margin-bottom: 50px;
  z-index: 100;
}

.homeAddEventButton {
  background: linear-gradient(to top left, #0BAB64, #3BB78F);
  color: #fcfcfc;
  border-radius: 7px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  margin-top: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 45px;
  width: 250px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
}

.homeAddEventButton * {
  font-size: 1.2em;
  margin-right: 10px;
  * {
    color: #fcfcfc;
  }
}

.homeAddEventButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.homeControlContainer {
  display: flex;
  flex-direction: column;
}

.homeControlsHeading {
  font-size: 1em;
  margin: 0 0 10px 30px;
  height: 20px;
  font-weight: 400;
}

.homeControlsSelectA {
  background-color: #fcfcfc;
  color: #202020;
  box-shadow: rgba(150, 150, 150, 0.2) 0px 0px 20px 0px;
  border: none;
  font-weight: 400;
  margin-bottom: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1em;
  padding: 5px;
  width: 250px;
  appearance: none;
  cursor: pointer;
  text-align: center;
  transition: border-bottom-right-radius 300ms, border-bottom-left-radius 300ms;
}

.homeControlsSelectAChosen {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.homeControlsSubA {
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms;
}

.homeControlsSubShowA {
  z-index: 0;
  opacity: 1;
}

.homeControlsSubOption {
  box-shadow: rgba(150, 150, 150, 0.2) 0px 0px 20px 0px;
  border: none;
  margin-top: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 400;
  font-size: 1em;
  padding: 5px;
  width: 250px;
  appearance: none;
  cursor: pointer;
  text-align: center;
}

.homeControlsSelectB {
  box-shadow: rgba(150, 150, 150, 0.2) 0px 0px 20px 0px;
  border: none;
  margin-bottom: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-weight: 400;
  font-size: 1em;
  padding: 5px;
  width: 250px;
  appearance: none;
  cursor: pointer;
  text-align: center;
  transition: border-bottom-right-radius 300ms, border-bottom-left-radius 300ms;
}

.homeControlsSubmit {
  background-color: #007bff;
  color: #fcfcfc;
  font-weight: 400;
  border-radius: 700px;
  border: none;
  font-size: 1em;
  margin-top: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 45px;
  width: 250px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
}

.homeControlsSubmit:hover {
  transform: scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* delete popup - component 2 */
.deletePopBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms;
}

.profileDeleteClicked {
  opacity: 1;
  z-index: 100;
}

.profileDeleteNotClicked {
  opacity: 0;
  z-index: -1;
}

.deletePopup {
  background-color: #fcfcfc;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.deleteTitle {
  margin-bottom: 20px;
}

.deleteMessage {
  margin-bottom: 20px;
}

.deletePopupButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.deleteButton {
  width: 100px;
  padding: 10px;
  border-radius: 100px;
  border: none;
}

.deleteButtonContinue {
  background-color: #fcfcfc;
  border: solid 2px #ff0033;
  font-weight: 500;
  color: #ff0033;
}

.deleteButtonCancel {
  background-color: #007bff;
  font-weight: 500;
  color: #fcfcfc;
}

/* event card - component 3 */
.eventsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventCardOuterContainer {
  margin-bottom: 100px;
  margin-top: 50px;
  width: 40%;
}

.eventCardContainer {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(32, 32, 32, 0.85);
}

.eventCardInformation {
  display: flex;
  width: 100%;
}

.eventCardInfoContainer {
  display: flex;
  flex-direction: column;
  text-wrap: pretty;
  width: 50%;
}

.eventCardDescriptionContainer {
  width: 50%;
}

.eventCardText {
  color: #fcfcfc;
}

.eventCardCallToActions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.eventCardImg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(4px);
}

.eventCardHeadings {
  display: flex;
  align-items: center;
}

.eventCardTitle {
  font-size: 2.5em;
  font-weight: 500;
  margin-left: 70px;
  margin-bottom: 10px;
}

.eventCardCreatedAt {
  margin-left: 70px;
  font-size: 1.1em;
  margin-bottom: 20px;
  font-weight: 400;
}

.eventEditButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.3em;
  font-weight: 400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
  width: 50px;
  height: 50px;
  margin: 20px 20px 0 0;
}

.eventDeleteButton {
  background-color: #ff0033;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.3em;
  font-weight: 400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
  transition: transform 300ms, filter 300ms, box-shadow 300ms;
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px;
}

.eventEditButton * {
  * {
    color: #fcfcfc;
  }
}

.eventEditButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.eventDeleteButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.eventDeleteButton * {
  * {
    color: #fcfcfc;
  }
}

.eventCardHeading {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 5px;
}

.eventCardBody {
  margin-bottom: 20px;
}

/* mobile break point */